
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

a  {
    text-decoration: none;
    
}

.heading {
    display: flex;
    justify-content: center;
    padding: 24px;
    background-color: coral;
    color: bisque;  
    margin: 0;  
}

ul {   
    
    list-style-type: square;
}

.recipeImage {
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
    border: none;
    align-self: center;
    margin: 12px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    flex: 1;
}

h3 {
    margin-left: 10px;

}

h2 {
    color: chocolate;
}